.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--nav-bar-height);
    padding: 0 5dvw;
}

.nav-bar-user {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-user-icon {
    width: 34px;
    height: 34px;
    padding: 5px;
    border-radius: 50%;
    position: relative;
}

.nav-bar-user-icon:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #fff, -2px -2px 5px var(--shadow-color);
}

.nav-bar-user-name {
    height: 50px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover p {
        cursor: pointer;
        color: var(--text-color);
    }

    &:hover .user-img {
        cursor: pointer;
        box-shadow: 2px 2px 5px #fff, -2px -2px 5px var(--shadow-color);
    }
}

.nav-bar-user > * {
    margin-inline: 8px;
    transition: .25s ease;
}

.nav-bar-user svg {
    transition: .25s ease;
}

.nav-bar-title {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-bar-user p {
    color: var(--secondary-text-color);
    font-size: 0.9rem;
    font-weight: 400;
    margin-right: 8px;
    transition: .25s ease;
}

.nav-bar-user .user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ededfa;
    background-image: url('../../assets/user_none.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 84%;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px var(--shadow-color);
    transition: .25s ease;
}

.notification-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--button-color);
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 1px 1px 2px var(--shadow-color), -1px -1px 2px #fff;
}

.main-body {
    width: 60%;
    height: calc(100dvh - var(--nav-bar-height));
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 10px;
    padding: 10px 20px;
}

.main-body::-webkit-scrollbar {
    display: none;
}

.main-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.body-info {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.body-info-text {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2vh 3vw 2vh 5vw;
}

.body-info-text h2 {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
}

.body-info-text p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0;
}

.body-info-img {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    padding: 0 5vw;
    margin-top: 30px;
}

.body-info-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    aspect-ratio: 1 / 1;
    height: 74%;
    border-radius: 50%;
    margin-left: 5vw;
    box-shadow: 8px 8px 30px var(--shadow-color), -8px -8px 30px #fff;
    border: 16px solid #e3e2ed;
    transform: translate(-1.5%, -1.5%);
    z-index: 1;
}

.body-info-img img {
    aspect-ratio: 1 / 1;
    height: 80%;
    padding: 20px;
    object-fit: contain;
    border-radius: 50%;
    z-index: 2;
}

.body-details {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}

.details-card {
    width: 22%;
    max-width: 230px;
    height: 74%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 5vw;
    box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px #fff;
    background: var(--card-background-color);
    padding: 8px;
}

.details-card:nth-of-type(1) h1 {
    color: var(--details-color-1);
    font-size: 2.8rem;
    font-weight: 800;
}

.details-card:nth-of-type(1) p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.details-card:nth-of-type(2) h1 {
    color: var(--details-color-2);
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.details-card:nth-of-type(2) p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.details-card:nth-of-type(3) h1 {
    color: var(--details-color-3);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
}

.details-bar {
    width: fit-content;
    height: 30%;
}

.details-card:nth-of-type(3) span {
    display: inline-block;
    width: 18px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-inline: 4px;
}

.details-card:nth-of-type(3) p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.browse-subjects {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    flex-direction: column;
}

.browse-subjects h1 {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.browse-subjects-list {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 30px 0;
}

.browse-subjects-card {
    width: 22%;
    height: fit-content;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 5px 5px 10px var(--shadow-color), -5px -5px 10px #fff;
    background: var(--card-background-color);
    padding: 50px 10px 15px 15px;
    transition: .25s ease;
    text-decoration: none;
    position: relative;
}

.browse-subjects-card-delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--card-background-color);
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 2px 5px var(--shadow-color), -2px -2px 5px #fff;
    transition: .25s ease;
}

.browse-subjects-card-delete-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px #fff, -2px -2px 5px var(--shadow-color);
}


.browse-subjects-card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px #fff, -5px -5px 10px var(--shadow-color);
}

.browse-subjects-card:hover>.browse-subjects-card-circle {
    box-shadow: 4px 4px 10px #fff, -4px -4px 10px var(--shadow-color);
}

.browse-subjects-card-circle {
    border-radius: 50%;
    position: absolute;
    transition: .25s ease;
    box-shadow: 4px 4px 10px var(--shadow-color), -4px -4px 10px #fff;
}

.browse-subjects-card-circle-1 {
    width: 50px;
    height: 50px;
    top: -10px;
    left: 80%;
}

.browse-subjects-card-circle-2 {
    width: 36px;
    height: 36px;
    top: 10px;
    left: 72%;
    backdrop-filter: blur(8px);
}

.browse-subjects-card-text {
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: left;
}

.browse-subjects-card-text span {
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
}

.home-btn {
    background: var(--card-background-color);
    border: none;
    border-radius: 25px;
    width: 110px;
    height: 50px;
    line-height: 32px;
    color: var(--text-color);
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Mona Sans', sans-serif;
    cursor: pointer;
    box-shadow: 6px 6px 12px var(--shadow-color), -6px -6px 12px #fff;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.home-btn:hover {
    box-shadow: 6px 6px 12px #fff, -6px -6px 12px var(--shadow-color);
}

.browse-geneds {
    width: 100%;
    padding: 2dvh 3dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3dvh 0;
}

.browse-geneds h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.geneds-cards-container {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 30px 0;
}

.geneds-cards {
    width: 150%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    flex-shrink: 0;
}

.geneds-card-block {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.geneds-card {
    width: 100%;
    height: 100%;
    background: #ededfa77;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    box-shadow: 4px 4px 10px var(--shadow-color), -4px -4px 10px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 15px;
    z-index: 1;
}

.geneds-card-block:nth-of-type(1) .geneds-card,
.geneds-card-block:nth-of-type(3) .geneds-card {
    background: #d0d0d078;
    color: var(--secondary-text-color);
}

.geneds-card-block svg {
    position: absolute;
    border-radius: 50%;
    box-shadow: 3px 3px 6px var(--shadow-color), -3px -3px 6px #fff;
    z-index: 0;
}

.geneds-card-block svg.first {
    left: -25px;
    top: -15px;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.geneds-card-block svg.second {
    right: -28px;
    bottom: -18px;
    width: 60px;
    height: 60px;
    padding: 8px;
}

.feature-block {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10dvh 0;
    padding: 2dvh 3dvw;
}

.feature-section {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.feature-text-block {
    width: 30%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 8dvh;
}

.feature-text {
    width: 100%;
    height: fit-content;
    padding: 5dvh 20px;
    background: var(--card-background-color);
    border-radius: 15px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    position: relative;
}

.feature-text-block:nth-of-type(1) .feature-text {
    text-align: left;
    padding-right: 5dvw;
}

.feature-text-block:nth-of-type(3) .feature-text {
    padding-left: 5dvw;
    text-align: right;
}

.feature-text h1 {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.feature-text p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 400;
}

.feature-text-dot {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    display: inline-flex;
}

.feature-text-block:nth-of-type(1) .feature-text-dot {
    right: 10px;
}

.feature-text-block:nth-of-type(3) .feature-text-dot {
    left: 10px;
}

.feature-text-dot div:nth-of-type(1) {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-color: var(--details-color-dark-red);
    border-radius: 50%;
}

.feature-text-dot div:nth-of-type(2) {
    width: 50px;
    height: 15px;
    background-color: var(--details-color-light-red);
    border-radius: 7.5px;
}

.feature-img-block {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.feature-img-block img {
    width: 80%;
}

.feature-img-block p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
    width: 70%;
    border-radius: 8px;
    padding: 20px 0;
    text-align: center;
    backdrop-filter: blur(10px);
}

.join-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 2dvh 0;
    padding: 2dvh 3dvw;
}

.join-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3%;
}

.join-img {
    width: 30%;
    height: 12dvw;
    aspect-ratio: 3 / 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
}

.join-title h1 {
    display: inline-block;
    width: 80%;
    padding: 40px 0;
    text-align: center;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
}

.join-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 8dvh;
}

.join-buttons::before, .join-buttons::after {
    content: '';
    flex: 0 0 20%;
    height: 1px;
    background: var(--shadow-color);
}

.join-buttons:not(:empty)::before {
    margin-right: 10px;
}

.join-buttons:not(:empty)::after {
    margin-left: 10px;
}