.side-bar {
    width: 18%;
    height: calc(100dvh - var(--nav-bar-height));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.page-nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.page-nav-item {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: .25s ease;
}

.page-nav-item:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #fff, -3px -3px 4px var(--shadow-color);
}

.page-nav-item svg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px var(--shadow-color), -1px -1px 3px #fff;
    padding: 5px;
    margin-right: 25px;
    transition: .25s ease;
}

.page-nav-item:hover svg {
    box-shadow: 2px 2px 2px #fff, -1px -1px 3px var(--shadow-color);
}

.page-nav-item p {
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 15px;
}

.link-nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.link-nav-item {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 2px var(--shadow-color), -3px -3px 4px #fff;
    transition: .25s ease;
}

.link-nav-item:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px #fff, -3px -3px 4px var(--shadow-color);
}