.browse-main-subject-block {
    width: 100%;
    height: calc(100dvh - 80px - 60px);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0 30px;
    padding-bottom: 30px;
}

.browse-main-col-1 {
    width: 36%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    padding-inline: 10px;
}

.browse-main-col-1::-webkit-scrollbar {
    display: none;
}

.browse-main-col-1 {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.browse-main-code.clicked {
    background: var(--button-color);
    color: var(--selected-color);
    box-shadow: 3px 3px 6px #fff, -3px -3px 6px var(--shadow-color);
}

.browse-main-col-2 {
    width: 64%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: var(--card-background-color);
    box-shadow: 6px 6px 20px var(--shadow-color), -6px -6px 20px #fff;
    border-radius: 40px;
    padding: 40px 20px;
    position: relative;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.browse-main-col-2 h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 32px;
}

.browse-info-attr {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 23px;
}

.browse-info-desc {
    width: 100%;
    max-height: 20%;
    overflow-y: scroll;
    font-size: 1.05rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 10px;
    box-shadow: inset 3px 3px 6px var(--shadow-color), inset -3px -3px 6px #fff;
    padding: 10px;
    border-radius: 8px;
}

.browse-info-desc::-webkit-scrollbar {
    display: none;
}

.browse-info-desc {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.browse-main-col-2 h3 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 10px;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.browse-main-section-list::-webkit-scrollbar {
    display: none;
}

.browse-main-section-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.browse-main-section-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 8px;
}

.browse-main-section-headings {
    width: 100%;
    height: 30px;
    font-size: 1.05rem;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 30px;
}

.browse-main-section-headings div {
    height: 100%;
    display: flex;
    font-size: 1.05rem;
    align-items: center;
    margin-left: 10px;
}

.browse-main-section-headings div p {
    height: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    padding: 0 10px;
    font-weight: 500;
    margin-inline: 5px;
}

.browse-main-section-headings div p:nth-last-of-type(1) {
    background-color: var(--gpa-color);
}

.browse-main-section-headings div p:nth-last-of-type(2) {
    background-color: var(--rmp-color);
}

.browse-main-section-headings a {
    width: fit-content;
    height: 100%;
    font-size: 1.1rem;
    color: var(--details-color-4);
    font-weight: 600;
    margin-left: 6px;
    text-decoration: none;
}

.browse-main-section-headings a svg {
    height: 100%;
    transition: fill 0.25s ease;
    cursor: pointer;
}

.browse-main-section-headings a:hover > svg {
    fill: var(--text-color);
}

.browse-main-section-list-item {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background: var(--card-background-color);
    box-shadow: 3px 3px 6px var(--shadow-color), -3px -3px 6px #fff;
    border-radius: 8px;
    flex-shrink: 0;
    transition: .25s ease;
    padding: 8px 10px;
    text-decoration: none;
}

.browse-main-section-list-item:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px #fff, -3px -3px 6px var(--shadow-color);
}

.browse-main-section-list-item:hover > .browse-main-section-list-item-add-btn {
    gap: 5px;
    font-weight: 500;
    color: var(--button-color);
}

.browse-main-section-list-item:hover > .browse-main-section-list-item-add-btn > svg {
    fill: var(--button-color);
}

.browse-main-section-list-item > * {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin-right: 5px;
    color: var(--text-color);
}

.browse-main-section-list-item-add-btn {
    height: fit-content;
    display: flex;
    align-items: center;
    transition: .25s ease;
    font-weight: 300;
    gap: 2px;
}

.browse-main-section-list-item-add-btn svg {
    transition: .25s ease;
}

.browse-details-btn {
    text-decoration: none;
    margin: 0 !important;
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

.browse-main-close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 6px var(--shadow-color), -3px -3px 6px #fff;
    transition: .25s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: none;
}

.browse-main-close-btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 6px #fff, -3px -3px 6px var(--shadow-color);
    background-color: var(--button-color);
}

.browse-main-close-btn > svg {
    transition: .25s ease;
}

.browse-main-close-btn:hover > svg {
    fill: #fff;
}

.section-tags-container {
    display: inline-flex;
    gap: 8px;
    margin-left: 10px;
    vertical-align: middle;
}

.section-tags-container p {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-color);
}

.section-tag {
    line-height: 18px;
    padding: 4px 8px;
    border-radius: 13px;
    border: none;

    font-family: 'Mona Sans', sans-serif;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease;
    box-shadow: 3px 3px 5px var(--shadow-color), -3px -3px 5px #fff;
}

.section-tag:hover {
    box-shadow: 3px 3px 5px #fff, -3px -3px 5px var(--shadow-color);
}

.section-tag.selected {
    box-shadow: 3px 3px 5px #fff, -3px -3px 5px var(--shadow-color);
}