.settings-container {
    width: 76%;
    height: 100%;
}

.settings-header {
    width: 100%;
    height: calc(15% - 2rem);
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--shadow-color);

    h2 {
        font-size: 1.8rem;
        color: var(--text-color);
        transform: translateY(40%);
    }
}

.settings-block {
    width: 120%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.settings-profile-section {
    width: 56%;
    height: calc(50% - 1.5rem);
    border-radius: 15px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    padding: 2rem 20px;
    margin-bottom: 3rem;
    position: relative;
}

.settings-section {
    width: 90%;
    margin: 2rem 0;
    padding: 1.5rem;
    background: var(--card-background-color);
}

.section-title {
    color: var(--text-color);
    font-size: 1.4rem;
    margin-bottom: 15px;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--shadow-color);
}

.profile-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar-wrapper {
        position: relative;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #ededfa;
        background-image: url('../../assets/user_none.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 84%;
        box-shadow: 6px 6px 12px var(--shadow-color), -6px -6px 12px #fff;
        transition: .25s ease;
        cursor: pointer;

        &:hover {
            box-shadow: 6px 6px 12px #fff, -6px -6px 12px var(--shadow-color);

            .upload-button {
                box-shadow: 3px 3px 6px #fff, -3px -3px 6px var(--shadow-color);
                transform: scale(1.1);
            }
        }

        .upload-button {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 36px;
            height: 36px;
            border: none;
            border-radius: 50%;
            background: var(--button-color);
            box-shadow: 3px 3px 6px var(--shadow-color);
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.25s ease;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }

    .profile-user {
        width: calc(80% - 120px);
        margin-left: 2rem;

        .profile-user-content {
            margin: 10px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            p {
                width: calc(40% - 10px);
                font-size: 1rem;
                color: var(--secondary-text-color);
                margin: 0.5rem 0;
                font-weight: 500;
                transition: .25s ease;
            }
        }
    }

    .profile-user-content {
        display: flex;
        position: relative;

        small {
            margin-top: 4px;
            left: 0;
            color: var(--button-color);
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    .profile-user-content:focus-within p {
        color: var(--text-color);
    }
}

.user-main-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: wrap;
}

.user-info-item {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-inline: calc(10% / 6);
}

.user-info-item p {
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-weight: 500;
    transition: .25s ease;
}

.user-input-text {
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    font-family: 'Mona Sans', sans-serif;
    border-bottom: 2px solid var(--shadow-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
    transition: .25s ease;
}

.user-input-text::placeholder {
    color: var(--secondary-text-color);
    font-weight: 400;
}

.user-input-text:focus {
    border-bottom: 2px solid var(--text-color);
}

.user-info-item:focus-within p {
    color: var(--text-color);
}

.user-switch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    height: 34px;
}

.user-switch p {
    font-size: .9rem;
    color: var(--secondary-text-color);
    font-weight: 300;
    margin-right: 10px;
    font-style: italic;
}

.user-switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.user-slider {
    position: relative;
    cursor: pointer;
    width: 48px;
    height: 20px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
    outline: none;
    border: none;
    box-shadow: inset -3px 3px 3px -1px var(--shadow-color), inset 3px -3px 3px -1px #fff;
}

.user-slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    top: -2.5px;
    left: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
}

input:checked + .user-slider {
    background-color: var(--button-color);
    box-shadow: inset -3px 3px 3px -1px #b32d18, inset 3px -3px 3px -1px #f69d90;
}

input:checked + .user-slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px) rotate(360deg);
}

.user-slider.round {
    border-radius: 10px;
}

.user-slider.round:before {
    border-radius: 50%;
}

.user-btn {
    padding: 10px 15px;
    background: var(--card-background-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    border: none;
    outline: none;
    font-family: 'Mona Sans', sans-serif;
    border-radius: 8px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    margin-left: 30px;
    cursor: pointer;
    transition: .25s ease;
}

.user-btn:hover {
    background: var(--button-color);
    color: var(--selected-color);
    box-shadow: 4px 4px 8px #fff, -4px -4px 8px var(--shadow-color);
}

.setting-meta-section {
    width: 40%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    padding: 2rem 20px;
    overflow-y: scroll;
}

.setting-meta-section::-webkit-scrollbar {
    display: none;
}

.setting-meta-section {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 18px 0;
    background: var(--card-background-color);
    border-radius: 10px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;

    .item-content {
        width: 90%;

        h4 {
            margin: 0;
            color: var(--text-color);
            font-size: 1.1rem;
        }

        p {
            margin-top: .3rem;
            color: var(--secondary-text-color);
            font-size: 0.9rem;
        }
    }
}

.danger-item {
    width: 100%;
    border-radius: 8px;
    background: #ffe6e6;
    box-shadow: inset 4px 4px 8px #ffb3b3, inset -4px -4px 8px #fcd2d2;
}

.danger-button {
    background: #ff4444;
    color: white;
    box-shadow: 3px 3px 6px #ff9999;

    &:hover {
        box-shadow: inset 3px 3px 6px #cc0000;
    }
}