.browse-details-block {
    width: 100%;
    height: calc(100dvh - 20px - 60px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px 2dvw;
}

.browse-details-block::-webkit-scrollbar {
    display: none;
}

.browse-details-block {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.browse-details-info {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.browse-details-info-content {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 2dvw;
}

.browse-details-info-content h3 {
    font-size: 2.4rem;
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 15px;
}

.browse-details-info-link {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--details-color-2);
    font-weight: 600;
    transition: 0.25s ease;
}

.browse-details-info-link:hover {
    color: var(--details-color-4);
    transform: translateX(4px);
}

.browse-details-headings {
    width: 100%;
    height: fit-content;
    display: inline-block;
    border-bottom: 2px solid var(--shadow-color);
    padding: 10px 0;
    margin: 30px 0;
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 600;
}

.browse-details-comment-input {
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.browse-details-comment-input input[type="text"] {
    width: calc(95% - 34px - 20px);
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    border: none;
    outline: none;
    font-family: 'Mona Sans', sans-serif;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    background: var(--card-background-color);
}

.browse-details-comment-input input[type="text"]::placeholder {
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-weight: 300;
    font-style: italic;
}

.browse-details-comment-input button {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: var(--card-background-color);
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.25s ease;
}

.browse-details-comment-input button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 8px #fff, -4px -4px 8px var(--shadow-color);
}

.browse-details-subinfo {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    border-radius: 10px;
    padding: 20px 2dvw;
    background: var(--card-background-color);
    flex-shrink: 0;
}

.browse-details-subinfo p {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 300;
    margin: 10px 0;
    letter-spacing: 1px;
    position: relative;
}

.browse-details-subinfo p:nth-of-type(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.browse-details-subinfo p:nth-of-type(2) span:nth-of-type(1) {
    content: '';
    width: 110px;
    height: 20px;
    border-radius: 10px;
    background: var(--details-color-4);
    display: block;
    z-index: 1;
    transform: translateX(10px);
}

.browse-details-subinfo p:nth-of-type(2) span:nth-of-type(2) {
    content: '';
    width: 140px;
    height: 20px;
    border-radius: 10px;
    background: var(--shadow-color);
    display: block;
    transform: translateX(calc(-100% + 30px + 10px));
    box-shadow: inset 0 0 10px var(--secondary-text-color);
}

.browse-details-subinfo p:nth-of-type(2) small {
    font-size: 1.1rem;
    color: var(--details-color-4);
    font-weight: 600;
    margin-left: 10px;
    transform: translateX(calc(-140px + 30px + 10px));
}

.browse-details-subinfo p:nth-of-type(2) a {
    width: fit-content;
    height: fit-content;
    font-size: 1.1rem;
    color: var(--details-color-4);
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;
    transform: translateX(calc(-140px + 30px + 10px));
}

.browse-details-subinfo p:nth-of-type(2) a svg {
    transition: fill 0.25s ease;
    cursor: pointer;
}

.browse-details-subinfo p:nth-of-type(2) a:hover > svg {
    fill: var(--text-color);
}

.browse-details-comments {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.browse-details-comments-item {
    width: 90%;
    min-height: 50px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 20px;
}

.browse-details-comments-item-profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.browse-details-comments-item-profile-img {
    aspect-ratio: 1 / 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ededfa;
    background-image: url('../../assets/user_none.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 84%;
    box-shadow: -2px -2px 4px #fff, 2px 2px 4px var(--shadow-color);
    margin-right: 10px;
}

.browse-details-comments-item-profile h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-right: 10px;
}

.browse-details-comments-item-profile span {
    font-size: 1rem;
    color: var(--secondary-text-color);
    font-weight: 300;
}

.browse-details-comments-item p {
    display: inline-block;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: inset 4px 4px 8px var(--shadow-color), inset -4px -4px 8px #fff;
}

.browse-resources-block {
    position: absolute;
    top: 60px;
    right: 0;
    width: 30%;
    height: calc(100dvh - 20px - 60px);
    padding: 10px 40px;
    overflow-y: scroll;
}

.browse-resources-block::-webkit-scrollbar {
    display: none;
}

.browse-resources-block {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.browse-resources-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.browse-resources-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}

.browse-resources-block a {
    text-decoration: none;
    outline: none;
    color: var(--text-color);
}

.resource-card {
    width: 80%;
    height: fit-content;
    min-height: 200px;
    display: block;
    background: var(--card-background-color);
    border-radius: 15px;
    box-shadow: 4px 4px 8px var(--shadow-color), -4px -4px 8px #fff;
    transition: 0.25s ease;
    margin-bottom: 3dvh;
    overflow: hidden;
}

.resource-card:hover {
    box-shadow: 4px 4px 8px #fff, -4px -4px 8px var(--shadow-color);
}

.resource-card:hover svg {
    transform: translateX(4px);
    fill: var(--text-color);
}

.resource-card-image {
    width: 100%;
    height: 140px;
    display: block;
    background: #c4c4c4;
}

.resource-card-content {
    width: 100%;
    height: 60px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.resource-card-content svg {
    transition: 0.25s ease;
}

.resource-card-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 6px;
    color: var(--text-color);
}